*
{
  padding: 0;
  margin: 0;
}

body{
  background-color:rgb(155, 181, 211);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-family: sans-serif;
}

.menu-bar{
  background: rgb(55, 119, 202);
 text-align: center; 
}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: aliceblue;
}
.menu-bar ul li{
  width: 120px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: white;
}
.active, .menu-bar ul li:hover{
  background: rgb(248, 6, 6);
  border-radius: 3px;
}
.sub-menu-1{
  display: none;
}
.menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background-color: rgb(14, 43, 212);
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
  color: red;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.footer-grid {
  background: rgb(29, 37, 46);
  color: #f5f1f0;
  width: 100%;
  margin: 0;
  padding: 2em 0;
}

.sub_footer{
  display: flex;
  margin: 10px;
}

.column1{
  padding:20px;
  font-size: 20px;
  width: 25%;
}
.socials{
  background: brown;
  width: 100%;
  height: 100px;
  display: grid;
  align-items: baseline;
  justify-content: center;
  text-align: center;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-facebook {
  background: #55ACEE;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #55ACEE;
  color: white;
}
.fa-whatsapp {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #55ACEE;
  color: white;
}
.rightsreserved{
  color: white;
}
